<div class="row">
  <div class="col-md-6">
    <ba-card title="First step" baCardClass="with-scroll lists-widget">
      <div class="section-block">
        <div class="section-block">
          <h2>So.. what actually happens in backend when I add an app?</h2>
        </div>
        <p>If all app details are valid, we will first contact our <span class="bold-text">API server</span> which will than contact our <span class="bold-text">App hosting server</span> to
          create new directory for app in user's home directory, setup <span class="bold-text">NGINX reverse proxy</span> and contact <span class="bold-text">Cloudflare API</span> to add subdomain to DNS.</p>
        <div class="section-block">
          <h5 class="list-header">Order of actions that happen once new app is added:</h5>
          <ol class="blur">
            <li><span>Front-end will send request to our API server</span></li>
            <li style="color:#ff0000;"><span>API server contats our APP server (executes shell script to add new app)</span>
              <ol>
                <li style="color:#3cd2ff"><span>Shell script create new directory for app(It can be reached from SFTP using same login as for our web app).</span></li>
                <li style="color:#6bd609"><span>Shell script setups NGINX reverse proxy vhost.</span></li>
                <li><span>Shell script sends an request to Cloudflare API to add new domain to deployhandler.com DNS.</span></li>
              </ol>
            </li>
            <li><span>If all things above were done without error, API server will add new MongoDB object to database.</span>
          </ol>
          <div class="accent" style="color:#ff0000;border-left: 4px solid #ff0000;">Our API server is running on Ubuntu LTS headless server, it's written in pure JavaScript using NodeJS,Express.js and many other modules.
            Complete documentation for API endpoints can be found <a href="https://api.deployhandler.com" target="_blank">here</a></div>
          <div class="accent" style="color:#3cd2ff;border-left:4px solid #3cd2ff">SFTP(Secure File Transfer Protocol) is like FTP but on steroids. It adds password encryption, can resume interrupted file transfers and other cool things.</div>
          <div class="accent" style="color:#6bd609;border-left: 4px solid #6bd609;">NGINX Reverse proxy allows you to have your app running on port 80(443 will be supported in future) just like any web site, even tho it's actually running on some other port(like 3000).</div>
        </div>
      </div>
    </ba-card>
  </div>
  <div class="col-md-6">
    <ba-card title="Second step" baCardClass="with-scroll lists-widget">
      <div class="section-block">
        <div class="section-block">
          <h2>Okay, I added new app from Add app wizzard, what now?</h2>
        </div>
        <p>Once app is added you should open your favourite SFTP client, we recommend open source <a href="https://filezilla-project.org/">FileZilla</a> project.</p>
        <div class="section-block">
          <h4>FileZilla (SFTP Client) configuration</h4>
          <div class="section-block upper-text bold-text">
            <p>Host: sftp.deployhandler.com</p>
            <p>Port: 22</p>
            <p>Username: Your deployHandler account username</p>
            <p>Password: Your deployHandler account password</p>
          </div>
        </div>
        <div class="section-block">
          <p>You should now see separate directory for every app you added, in those directories you should transfer your source code.</p>
          <div class="accent" style="color:#3cd2ff;border-left:4px solid #3cd2ff">You don't have to move node_modules directory as all dependencies can be installed with NPM in My Apps->Manage Apps menu.</div>
        </div>
        <div class="section-block">
          <p>If you are using FileZilla or any similar SFTP client moving your source files is simple as Drag n Dropping your source files to App directory.
            Your Local files are left directory tree, Remote DeployHandler files are right directory tree.</p>
        </div>
      </div>
    </ba-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ba-card title="Final step" baCardClass="with-scroll more-text-widget">
        <div class="section-block">
          <h2>Code is added, dependencies are installed, how can I start my app?</h2>
        </div>
        <p>If you already did NPM install you are good to go, you can click start button in My Apps -> Manage Apps, if not, do NPM Install(unless you only use Node Core modules and don't have any additional modules in package.json) before starting your app.</p>
        <div class="section-block">
          <p class="upper-text bold-text">Finally! If everything was okay, you should see that your App status is now started. That means your App is now live and you can visit it on
          </p>
          <span class="bold-text" style="color:#3cd2ff">http://yourAppName.deployhandler.com</span>
        </div>
    </ba-card>
  </div>
  <div class="col-md-6">
    <ba-card title="Few more tips" baCardClass="with-scroll lists-widget">
      <div class="section-block">
        <ul class="blur">
          <li>If you want to build your app using our API, full documentation can be found <a href="https://api.deployhandler.com">here</a>.</li>
          <li>In order to modify or delete app you have to stop it first.</li>
          <li>If you modified your package.json and want to do npm install again you must stop your app first.</li>
          <li>You can use Dashboard 'QUICK LOOK AT YOUR APPS' feature to quickly add/edit/delete your apps.</li>
          <li>TODOs on dashboard are there to help you stay organized.</li>
        </ul>
      </div>
    </ba-card>
  </div>
</div>
